body{
     background:rgba(150,220,15,0.3);
     margin: 0px;
}
#Wholecard{
   background: none;
   border: 0px solid red;
   width:100%;
   height:2480px;
   background-image: url('heart2.png');
   background-repeat: repeat;
   background-size:cover;
   background-attachment:fixed;

}
#heading{
  margin:0px;
  color:#7E5109;
  padding:15px;
  text-align:center;
  background: linear-gradient(to right,orange,lightgreen);
}
#heading2{
text-align:center;
margin-top: 0px;
margin-bottom: 0px;
   padding: 7px;
background:linear-gradient(to left,lightblue,crimson);
font-family: 'Kiwi Maru', serif;

}
h3{
  text-align: center;
  margin: 5px;
  font-family: 'New Tegomin', serif;
  border: 0px solid green;
  padding:15px 0px;
  margin: 0px;
}
.lookin
  {
         display:inline-block;
       font-weight:900;
       font-size: large;
       margin-left: 10px;
       background:#D68910;
       padding:8px;
     }

.anchor_tag a{
  font-size: X-large;
  display: inline-block;
  border:0px solid red;
  margin:15px 150px;
  text-decoration: none;
  color:#873600 ;
  margin-right:163px;
  padding-top: 5px;
}
.anchor_tag{
  background: #D68910;
  padding: 10px;
}
.anchor_tag a:hover{
  transform: scale(1.2,1.09);
  color: #C0392B;
  font-weight:bold;
}
.lookin1
  {
       font-weight:900;
       font-size: large;
       margin-left: 10px;
       margin-top:25px;
       background:#D68910;
       padding:9px;
       width: 150px;
       text-align: center;
       float:left;
     }

.anchor_tag1 a{
  font-size: X-large;
   border:0px solid red;
  margin:15px 150px;
  text-decoration: none;
  color:#873600 ;
  margin-right:325px;
  padding-top: 5px;
  text-align: center;
}
.anchor_tag1{
  background: #D68910;
  padding-top:7px;
  padding-bottom: 5px;
margin-bottom: 25px;
margin-top: 25px;
}
.anchor_tag1 a:hover{
  transform: scale(1.20,1.25);
  color: #C0392B;
  font-weight:bold;
}

  .card{
    width:300px;
    height:450px;
    border: 0px inset black;
    margin: 17px;

    text-align: center;
border-radius:9%;
min-width: fit-content;
float:left;
  }
  img{
  border-radius:12%;
  }

   .card:hover{
            transform: scale(1.05,1.05);

            font-size: 16px;
            font-weight: bolder;
            box-shadow: 10px 30px 20px -8px rgba(150, 10, 200, 0.8);

   }
   .card a{
     text-decoration: none;
     text-align:right;
     margin-left: 200px;
     color: #0513A6;
   }
   .card a:hover{
     color: #CF1A0C;
   }

   .card1{
     width:300px;
     height:450px;
     border: 0px groove black;
     margin: 17px;
     text-align: center;
 border-radius:9%;
 min-width: fit-content;
 float:left;
   }
   img{
   border-radius:12%;
   }
  .card1:hover{
             transform: scale(1.05,1.05);

             font-size: 16px;
             font-weight: bolder;
             box-shadow: 10px 30px 20px -8px rgba(150, 10, 200, 0.8);
    }
    .card1 a{
      text-decoration: none;
      text-align:right;
      margin-left: 200px;
      color: #0513A6;
    }
    .card1 a:hover{
      color: #CF1A0C;
    }

    .card2{
      width:300px;
      height:450px;
      border: 0px inset black;
      margin: 17px;
      text-align: center;
  border-radius:9%;
  min-width: fit-content;
  float:left;
    }
    img{
    border-radius:12%;
    }
   .card2:hover{
              transform: scale(1.05,1.05);

              font-size: 16px;
              font-weight: bolder;
              box-shadow: 10px 30px 20px -8px rgba(150, 10, 200, 0.8);
     }
     .card2 a{
       text-decoration: none;
       text-align:right;
       margin-left: 200px;
       color: #0513A6;
     }
     .card2 a:hover{
       color: #CF1A0C;
     }

     .card3{
       width:300px;
       height:450px;
       border: 0px inset black;
       margin: 17px;
       text-align: center;
     border-radius:9%;
     min-width: fit-content;
     float:left;
     }
     img{
     border-radius:12%;
     }
     .card3:hover{
               transform: scale(1.05,1.05);

               font-size: 16px;
               font-weight: bolder;
               box-shadow: 10px 30px 20px -8px rgba(150, 10, 200, 0.8);
      }
      .card3 a{
        text-decoration: none;
        text-align:right;
        margin-left: 200px;
        color: #0513A6;
      }
      .card3 a:hover{
        color: #CF1A0C;
      }

      .card4{
        width:300px;
        height:450px;
        border: 0px inset black;
        margin: 17px;
        margin-top: 30px;
        text-align: center;
    border-radius:9%;
    min-width: fit-content;
    float:left;
      }
      img{
      border-radius:12%;
      }
     .card4:hover{
                transform: scale(1.05,1.05);

                font-size: 16px;
                font-weight: bolder;
                box-shadow: 10px 30px 20px -8px rgba(150, 10, 200, 0.8);
       }
       .card4 a{
         text-decoration: none;
         text-align:right;
         margin-left: 200px;
         color: #0513A6;
       }
       .card4 a:hover{
         color: #CF1A0C;
       }

       .card5{
         width:300px;
         height:450px;
         border: 0px inset black;
         margin: 17px;
         margin-top: 30px;
         text-align: center;
     border-radius:9%;
     min-width: fit-content;
     float:left;
       }
       img{
       border-radius:12%;
       }
      .card5:hover{
                 transform: scale(1.05,1.05);

                 font-size: 16px;
                 font-weight: bolder;
                 box-shadow: 10px 30px 20px -8px rgba(150, 10, 200, 0.8);
        }
        .card5 a{
          text-decoration: none;
          text-align:right;
          margin-left: 200px;
          color: #0513A6;
        }
        .card5 a:hover{
          color: #CF1A0C;
        }

        .card6{
          width:300px;
          height:450px;
          border: 0px inset black;
          margin: 17px;
          margin-top: 30px;
          text-align: center;
      border-radius:9%;
      min-width: fit-content;
      float:left;
        }
        img{
        border-radius:12%;
        }
       .card6:hover{
                  transform: scale(1.05,1.05);

                  font-size: 16px;
                  font-weight: bolder;
                  box-shadow: 10px 30px 20px -8px rgba(150, 10, 200, 0.8);
         }
         .card6 a{
           text-decoration: none;
           text-align:right;
           margin-left: 200px;
           color: #0513A6;
         }
         .card6 a:hover{
           color: #CF1A0C;
         }

         .card7{
           width:300px;
           height:450px;
           border: 0px inset black;
           margin: 17px;
           margin-top: 30px;
           text-align: center;
       border-radius:9%;
       min-width: fit-content;
       float:left;
         }
         img{
         border-radius:12%;
         }
        .card7:hover{
                   transform: scale(1.05,1.05);

                   font-size: 16px;
                   font-weight: bolder;
                   box-shadow: 10px 30px 20px -8px rgba(150, 10, 200, 0.8);
          }
          .card7 a{
            text-decoration: none;
            text-align:right;
            margin-left: 200px;
            color: #0513A6;
          }
          .card7 a:hover{
            color: #CF1A0C;
          }

          .card8{
            width:300px;
            height:450px;
            border: 0px inset black;
            margin: 17px;
            margin-top: 30px;
            text-align: center;
        border-radius:9%;
        min-width: fit-content;
        float:left;
          }
          img{
          border-radius:12%;
          }
         .card8:hover{
                    transform: scale(1.05,1.05);

                    font-size: 16px;
                    font-weight: bolder;
                    box-shadow: 10px 30px 20px -8px rgba(150, 10, 200, 0.8);
           }
           .card8 a{
             text-decoration: none;
             text-align:right;
             margin-left: 200px;
             color: #0513A6;
           }
           .card8 a:hover{
             color: #CF1A0C;
           }

           .card9{
             width:300px;
             height:450px;
             border: 0px inset black;
             margin: 17px;
             margin-top: 30px;
             text-align: center;
         border-radius:9%;
         min-width: fit-content;
         float:left;
           }
           img{
           border-radius:12%;
           }
          .card9:hover{
                     transform: scale(1.05,1.05);

                     font-size: 16px;
                     font-weight: bolder;
                     box-shadow: 10px 30px 20px -8px rgba(150, 10, 200, 0.8);
            }
            .card9 a{
              text-decoration: none;
              text-align:right;
              margin-left: 200px;
              color: #0513A6;
            }
            .card9 a:hover{
              color: #CF1A0C;
            }

            .card10{
              width:300px;
              height:450px;
              border: 0px inset black;
              margin: 17px;
              margin-top: 30px;
              text-align: center;
          border-radius:9%;
          min-width: fit-content;
          float:left;
            }
            img{
            border-radius:12%;
            }
           .card10:hover{
                      transform: scale(1.05,1.05);

                      font-size: 16px;
                      font-weight: bolder;
                      box-shadow: 10px 30px 20px -8px rgba(150, 10, 200, 0.8);
             }
             .card10 a{
               text-decoration: none;
               text-align:right;
               margin-left: 200px;
               color: #0513A6;
             }
             .card10 a:hover{
               color: #CF1A0C;
             }

             .card11{
               width:300px;
               height:450px;
               border: 0px inset black;
               margin: 17px;
               margin-top: 30px;
               text-align: center;
           border-radius:9%;
           min-width: fit-content;
           float:left;
             }
             img{
             border-radius:12%;
             }
            .card11:hover{
                       transform: scale(1.05,1.05);

                       font-size: 16px;
                       font-weight: bolder;
                       box-shadow: 10px 30px 20px -8px rgba(150, 10, 200, 0.8);
              }
              .card11 a{
                text-decoration: none;
                text-align:right;
                margin-left: 200px;
                color: #0513A6;
              }
              .card11 a:hover{
                color: #CF1A0C;
              }

              .card12{
                width:300px;
                height:450px;
                border: 0px inset black;
                margin: 17px;
                margin-top: 30px;
                text-align: center;
            border-radius:9%;
            min-width: fit-content;
            float:left;
              }
              img{
              border-radius:12%;
              }
             .card12:hover{
                        transform: scale(1.05,1.05);

                        font-size: 16px;
                        font-weight: bolder;
                        box-shadow: 10px 30px 20px -8px rgba(150, 10, 200, 0.8);
               }
               .card12 a{
                 text-decoration: none;
                 text-align:right;
                 margin-left: 200px;
                 color: #0513A6;
               }
               .card12 a:hover{
                 color: #CF1A0C;
               }

               .card13{
                 width:300px;
                 height:450px;
                 border: 0px inset black;
                 margin: 17px;
                 margin-top: 30px;
                 text-align: center;
             border-radius:9%;
             min-width: fit-content;
             float:left;
               }
               img{
               border-radius:12%;
               }
              .card13:hover{
                         transform: scale(1.05,1.05);

                         font-size: 16px;
                         font-weight: bolder;
                         box-shadow: 10px 30px 20px -8px rgba(150, 10, 200, 0.8);
                }
                .card13 a{
                  text-decoration: none;
                  text-align:right;
                  margin-left: 200px;
                  color: #0513A6;
                }
                .card13 a:hover{
                  color: #CF1A0C;
                }

                .card14{
                  width:300px;
                  height:450px;
                  border: 0px inset black;
                  margin: 17px;
                  margin-top: 30px;
                  text-align: center;
              border-radius:9%;
              min-width: fit-content;
              float:left;
                }
                img{
                border-radius:12%;
                }
               .card14:hover{
                          transform: scale(1.05,1.05);

                          font-size: 16px;
                          font-weight: bolder;
                          box-shadow: 10px 30px 20px -8px rgba(150, 10, 200, 0.8);
                 }
                 .card14 a{
                   text-decoration: none;
                   text-align:right;
                   margin-left: 200px;
                   color: #0513A6;
                 }
                 .card14 a:hover{
                   color: #CF1A0C;
                 }


                               .card15{
                                   width:300px;
                                   height:450px;
                                   border: 0px inset black;
                                   margin: 17px;
                                   margin-top: 30px;
                                   text-align: center;
                               border-radius:9%;
                               min-width: fit-content;
                               float:left;
                                 }
                                 img{
                                 border-radius:12%;
                                 }
                                .card15:hover{
                                           transform: scale(1.05,1.05);

                                           font-size: 16px;
                                           font-weight: bolder;
                                           box-shadow: 10px 30px 20px -8px rgba(150, 10, 200, 0.8);
                                  }
                                  .card15 a{
                                    text-decoration: none;
                                    text-align:right;
                                    margin-left: 200px;
                                    color: #0513A6;
                                  }
                                  .card15 a:hover{
                                    color: #CF1A0C;
                                  }

                                            .card16{
                                                    width:300px;
                                                    height:450px;
                                                    border: 0px inset black;
                                                    margin: 17px;
                                                    margin-top: 30px;
                                                    text-align: center;
                                                border-radius:9%;
                                                min-width: fit-content;
                                                float:left;
                                                  }
                                                  img{
                                                  border-radius:12%;
                                                  }
                                                 .card16:hover{
                                                            transform: scale(1.05,1.05);

                                                            font-size: 16px;
                                                            font-weight: bolder;
                                                            box-shadow: 10px 30px 20px -8px rgba(150, 10, 200, 0.8);
                                                   }
                                                   .card16 a{
                                                     text-decoration: none;
                                                     text-align:right;
                                                     margin-left: 200px;
                                                     color: #0513A6;
                                                   }
                                                   .card16 a:hover{
                                                     color: #CF1A0C;
                                                   }

                                                       .card17{
                                                                      width:300px;
                                                                     height:450px;
                                                                     border: 0px inset black;
                                                                     margin: 17px;
                                                                     margin-top: 30px;
                                                                     text-align: center;
                                                                 border-radius:9%;
                                                                 min-width: fit-content;
                                                                 float:left;
                                                                   }
                                                                   img{
                                                                   border-radius:12%;
                                                                   }
                                                                  .card17:hover{
                                                                             transform: scale(1.05,1.05);

                                                                             font-size: 16px;
                                                                             font-weight: bolder;
                                                                             box-shadow: 10px 30px 20px -8px rgba(150, 10, 200, 0.8);
                                                                    }
                                                                    .card17 a{
                                                                      text-decoration: none;
                                                                      text-align:right;
                                                                      margin-left: 200px;
                                                                      color: #0513A6;
                                                                    }
                                                                    .card17 a:hover{
                                                                      color: #CF1A0C;
                                                                    }

                                                                                    .card18{
                                                                                      width:300px;
                                                                                      height:450px;
                                                                                      border: 0px inset black;
                                                                                      margin: 17px;
                                                                                      margin-top: 30px;
                                                                                      text-align: center;
                                                                                  border-radius:9%;
                                                                                  min-width: fit-content;
                                                                                  float:left;
                                                                                    }
                                                                                    img{
                                                                                    border-radius:12%;
                                                                                    }
                                                                                   .card18:hover{
                                                                                              transform: scale(1.05,1.05);

                                                                                              font-size: 16px;
                                                                                              font-weight: bolder;
                                                                                              box-shadow: 10px 30px 20px -8px rgba(150, 10, 200, 0.8);
                                                                                     }
                                                                                     .card18 a{
                                                                                       text-decoration: none;
                                                                                       text-align:right;
                                                                                       margin-left: 200px;
                                                                                       color: #0513A6;
                                                                                     }
                                                                                     .card18 a:hover{
                                                                                       color: #CF1A0C;
                                                                                     }

                                                                                             .card19{
                                                                                                       width:300px;
                                                                                                       height:450px;
                                                                                                       border: 0px inset black;
                                                                                                       margin: 17px;
                                                                                                       margin-top: 30px;
                                                                                                       text-align: center;
                                                                                                   border-radius:9%;
                                                                                                   min-width: fit-content;
                                                                                                   float:left;
                                                                                                     }
                                                                                                     img{
                                                                                                     border-radius:12%;
                                                                                                     }
                                                                                                    .card19:hover{
                                                                                                               transform: scale(1.05,1.05);

                                                                                                               font-size: 16px;
                                                                                                               font-weight: bolder;
                                                                                                               box-shadow: 10px 30px 20px -8px rgba(150, 10, 200, 0.8);
                                                                                                      }
                                                                                                      .card19 a{
                                                                                                        text-decoration: none;
                                                                                                        text-align:right;
                                                                                                        margin-left: 200px;
                                                                                                        color: #0513A6;
                                                                                                      }
                                                                                                      .card19 a:hover{
                                                                                                        color: #CF1A0C;
                                                                                                      }
table{
     border:0px solid red;
     margin-left:50px;
     text-align:center;
   }
td{
  border:0px solid green;
  width:100px;
}
  tr:nth-child(even){
  background-color: transparent;
}

   .next{
     display: inline-block;
     border: 0px solid red;
     margin-left: 35%;
     margin-top: 40px;
     text-decoration: none;
     width: 600px;


   }
.next a{
  text-decoration: none;
  text-align: center;
  border: 1px;
  margin-right: 15px;
}

#footer{
  width: 100%;
  height: 350px;
  margin-top: 10px;
  background: linear-gradient(to left,#5A3DE9,#3281E5,#3DBAD0);

}
#box h4{
     color: none;
     text-align: center;
     font-size: 20px;
     font-weight: 900;
}

.featurBox{
  border: 0px solid red;
  height: 190px;
  float:left;
  width: 300px;
}
 .Feature{
   margin-left: 70px;
   font-size: 20px;
   font-weight: 900;
   margin-top: 50px;

   }
 #box a{
   text-decoration: none;
   color: #090545;
   margin-top: 0px;
   border: 0px solid red;
float: none;
 }
 #box a:hover{
   color:#350C9B;
   transform: scale(1.50,1.50);

   font-weight:900;
 }
  #box ul{
    list-style-image: url('arrows.png');
    margin-left: 50px;
    width:300px;

   border: 0px solid green;
  }
.contactBox{
  border: 0px solid red;
  width:450px;
  height: 190px;
  float: right;
  margin-right: 40px;

}
.contact{
  float: left;
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 900;
  width:400px;
  border: 0px inset red;
  height: 140px;
}
.name{
  display: block;
  font-size: 25px;
   color:none;
   padding:0px;
   margin-top: 10px;
 }
.con{
  margin-left: 125px;
  text-align: center;
  color: none;
}

#connect{
  border: 0px solid red;
  width:450px;
  height: 90px;
  float: left;
  padding: 50px;
}
#connectTo{
  width:400px;
  border:0px inset red;
  height: 140px;
  font-size:20px;
  font-weight: 600;
}
  #Twitter a{
            font-size: smaller;

  }
#insta a{
  font-size: smaller;


}
#fb a{
  font-size: smaller;
}
#whats a{
  font-size: smaller;
}

#twiter  ul{
         list-style-image: url('twitter.png');
}
#fb ul{
   list-style-image: url('fb.png');
}
#what  ul{
         list-style-image: url('whatsapp.png');
}
#insta ul{
   list-style-image: url('insta.jpg');
}
 #float{
       float:left;
       border: 0px solid red;
       width: 275px;
 }

.foot{
  text-align: right;
  background: linear-gradient( to right,#187A97,#0A14AF);
  padding: 9px;
}
